@model List<TripsLog>

@{ 
    ViewBag.Title = "My Trip Log";
}

<strong><a asp-action="Add" asp-controller="Trip" class="mt-2">Add Trip</a></strong>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Destination</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Accommodations</th>
            <th>Things To Do</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (TripsLog trips in Model)
        {
            <tr>
                <td>@trips.Destination.Dest</td>
                <td>@trips.StartDate?.ToShortDateString()</td>
                <td>@trips.EndDate?.ToShortDateString()</td>
                <td>
                    @if (trips.Accommodation != null)
                    {
                        <div>Accommodation: @trips.Accommodation.Name</div>
                        @if(!string.IsNullOrEmpty(trips.Accommodation.Phone))
                        {
                            <div>Phone: @trips.Accommodation.Phone</div>
                        }

                        @if(!string.IsNullOrEmpty(trips.Accommodation.Email))
                        {
                            <div>Email: @trips.Accommodation.Email</div>
                        }
                    }
                </td>
                <td>
                    @foreach(TripActivity ta in trips.TripActivities)
                    {
                        <div>@ta.Activity.ToDo</div>
                    }
                </td>
                <td>
                    <form asp-action="Delete" asp-controller="Trip">
                        <button type="submit" name="id" value="@trips.TripsLogId" class="btn btn-primary">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
 </table>
